{% extends 'nutrition/nutrition_base.html' %}
{% load static %}
{% block content %}

<style>
    .nutrition-progress{
        background: url("{% static 'images/nutritions/img2.jpg' %}") no-repeat center center fixed;
        background-size: cover;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    .progress-container {
        max-width: 700px;
        margin: 40px auto;
        background: white;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .progress-container h2 {
        color: #333;
        margin-bottom: 25px;
        font-size: 26px;
        font-weight: 600;
    }

    .progress-container img {
        max-width: 100%;
        border-radius: 10px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }
</style>
<div class="nutrition-progress">
<div class="progress-container">
    <h2>Weekly Calorie Progress</h2>
    <img src="data:image/png;base64,{{ graph }}" alt="Weekly Progress">
</div>
</div>
{% endblock %}
